*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/4742978.jpg');
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head{
    background-color: rgb(189, 186, 186);
    height: auto;
    width: 100%;
}

h1.text{
    font-size: 25px;
}

img.logo{
    padding: 0 60px;
}

nav{
    height: 50px;
    width: 100%;
    background-color:rgb(218, 149, 22);
    box-shadow: 0px 8px 10px #473f3faf;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 7px;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: red;
    transition: 25ms;
}

.page{
    padding: 40px;
    display:flex;
    height: auto;
    width: auto;
}

.mainPage{
    padding: 50px;
    background-color: rgba(137, 146, 137, 0.527);
    height: auto;
    width: 65%;
    align-items: center;
    display: inline-block;
    border-radius: 70px 0px 0px 0px;
}

.mainPage h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}


.content-table {
    margin-top: 50px;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    font-size: 18px;
}

.content-table th{
    padding: 12px 15px;
}

.content-table td {
    padding: 12px 15px;
    font-size: 18px;
}
  
.content-table tr:nth-of-type(even) {
    background-color: rgb(245, 189, 84);
}

.content-table tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.sidePage{
    background-color: rgb(187, 181, 182);
    height: auto;
    width: 35%;
    display: flex;
    padding: 20px;
    display: inline-block;
    border-radius: 0px 0px 70px 0px;
}

.sidePage h3{
    text-transform: uppercase;
    padding: 10px;
}

.sidePage img{
    padding: 10px;
    justify-content: center;
    float: right;
    width: 180px;
    padding-left: 30px;
}

p{
    text-align: justify;
    padding: 10px;
    font-size: 17px;
}

.artikel{
    padding-top: 50px;
}

footer{
    margin-top: 130px;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(71, 69, 69);
    height: auto;
}

footer p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}